/*
Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/
*/

/** Ionic CSS Variables **/
:root {
  --ion-font-family: var(--hia_content_font-family);

  /** primary **/
  --ion-color-primary: #ffffff;
  --ion-color-primary-rgb: 255, 255, 255;
  --ion-color-primary-contrast: #0f1218;
  --ion-color-primary-contrast-rgb: 15, 18, 24;
  --ion-color-primary-shade: #e0e0e0;
  --ion-color-primary-tint: #ffffff;

  /** secondary **/
  --ion-color-secondary: #4f22d7;
  --ion-color-secondary-rgb: 79, 34, 215;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #361a8c;
  --ion-color-secondary-tint: #5a32fd;

  /** tertiary **/
  /*
  --ion-color-tertiary: #ffffff;
  --ion-color-tertiary-rgb: 255, 255, 255;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #e0e0e0;
  --ion-color-tertiary-tint: #ffffff;
  */

  /** success **/
  /*
  --ion-color-success: #2dd55b;
  --ion-color-success-rgb: 45, 213, 91;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #28bb50;
  --ion-color-success-tint: #42d96b;
  */

  /** warning **/
  /*
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;
  */

  /** danger **/
  /*
  --ion-color-danger: #c5000f;
  --ion-color-danger-rgb: 197, 0, 15;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #ad000d;
  --ion-color-danger-tint: #cb1a27;
  */

  /** dark **/
  --ion-color-dark: #00214d;
  --ion-color-dark-rgb: 0, 33, 77;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #001d44;
  --ion-color-dark-tint: #1a375f;

  /** medium **/
  /*
  --ion-color-medium: #5f5f5f;
  --ion-color-medium-rgb: 95, 95, 95;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #545454;
  --ion-color-medium-tint: #6f6f6f;
  */

  /** light **/
  --ion-color-light: #f6f8fa;
  --ion-color-light-rgb: 246, 248, 250;
  --ion-color-light-contrast: #0f1218;
  --ion-color-light-contrast-rgb: 15, 18, 24;
  --ion-color-light-shade: #d8dadc;
  --ion-color-light-tint: #f7f9fb;
}
